- content_for :Awakening do
  .epigraph
    .line Through art and the natural world
    .line we awaken within ourselves and others
    .line.tab the Cosmic Religious Feeling
    .line.tab that ignites wonder,
    .line.tab fosters compassion, and
    .line.tab inspires us to proactively create.
  .commentary
    %p There is a way of experiencing the world that is profoundly different than our usual ego-centric mode. It feels like waking up to the true order of things. The boundary between self and other dissolves as we directly experience the universe as a single significant whole. We feel the futility of grasping after things. In place of our habitual drive to react we find an empty space from which to proactively initiate change.

    %p This cosmic religious feeling is difficult to communicate from person to person. It may be awakened or enlivened through a growing sense of awe or uplifting emotion as we experience beauty, nobility, grandeur, or immensity. These sublime experiences seem to often arise from the contemplation of art, science, and nature. Individual and collective practice keeps us regularly connected to these sources of inspiration.
= render "page", page: page, title: "Awakening", image: "Awakening"
