- content_for :BodyOfAllLife do
  .epigraph
    .line As you are alive, and I am alive,
    .line and in kinship with all other beings
    .line nourished by Sol,
    .line.tab we are SolSeed,---
    .line.tab the body of all Life.
  .commentary
    %p Groups of people may be organized into bodies. When we regard a number of individuals as a single entity, we refer to the group as a &ldquo;body&rdquo;. We have legislative bodies, student bodies, administrative bodies, governing bodies, and religious bodies. Bodies are in some way more than the sum of the individuals. We expect a body of people to generate ideas and think about things in a way that is different from what the individuals working alone would come up with.

    %p Groups of cells may also be organized into bodies. The cells in your body don't know who you are and don't care about you. And yet, by each cell doing its own little thing in its own little context, this miraculous thing called you emerges!

    %p Just like our body is composed of cells that each do their own different unique thing, so too there is a body of all life composed of living organisms of which we are a part. This body of all Life has many names. We call it SolSeed. Sol out of gratitude for the star at the center of our system that provides practically all the energy that animates Life on Earth, and Seed to remind us of the tremendous possibilities latent in the complex biosystem Life has created by organizing the gift of energy that comes from Sol.
= render "page", page: page, title: "SolSeed: The Body of All Life", image: "BodyOfAllLife"
