- content_for :Called do
  .epigraph
    .line As SolSeed's intelligent spark,
    .line.tab we are called to express the Arete of Life,
    .line.tab we are called to fulfill The Destiny.
  .commentary
    %p Our place in the body of all life is not one of special rights and privileges, but rather one of great purpose and responsibility. In the words of Carl Sagan,

    %blockquote
      %i
        Our obligation to survive and flourish is owed not just to ourselves but also
        to that Cosmos ancient and vast from which we spring.

    %p We are called not just to live -- not just to get by -- but to create a life that brings honor to all the ancestors who came before us. We are called to create a life that increases the opportunities of the generations that will follow us.

    %p Evolving humanity was expensive. It took eons to develop the biosphere and to deposit vast stores of fossil fuels. In the decades of our infancy we caused the extinction of myriad other species and consumed Life's densest reserves of concentrated energy. It will take a lot of doing to become worthy of our price.

    %p The extinctions we have caused and the fuels we have burned have purchased an infrastructure that we can use in service to Life. The ultimate expression of Life's flowering will come when we (the body of all life) transcend the bounds of this planet and firmly take root throughout our solar system and the rest of the galaxy. Humanity has an essential role to play in this ultimate expression of the upward spiral of Life.

    %p Humanity has a use, a role to play, a thing to do.
= render "page", page: page, title: "Called", image: "Called"
