- content_for :CultivateEmpathy do
  .epigraph
    .line I pledge to love others as I love myself,
    .line to consider their needs as if they were my own ---
    .line to Grow Ours, not just Get Mine.
  .commentary
    %p While it may be true that service of others provides happiness and life satisfaction for the person who is doing the serving, the motivation for the service is important. Something is missed when service to others is done to look good or even just because we know that service leads to a happier life. Service brings the most peace and satisfaction when it springs from a depth of character where such service is simply the right thing to do.

    %p Good religions demand that we live a life of character and that we help others because it is &ldquo;the right thing to do.&rdquo; As we empathize with the people we are seeking to help, we also cultivate appreciation for the gift they are giving to us by allowing us to participate in the transformative vulnerability of accepting assistance.

    %p In the fiddler on the roof, Tevye the main character, offers a chunk of cheese to a young stranger who is passing through his town. Perchik, the young man, refuses ... insisting &ldquo;I have no money and I'm not a beggar.&rdquo; Tevye responds, &ldquo;Ah, take it. It's a blessing for me to give.&rdquo; The genuineness of the sentiment wins Perchik over, and he accepts the food with a slightly pompous &ldquo;Very well. For your sake.&rdquo; &ldquo;Thank you. Thank you&rdquo; replies Tevye as he hands him the food. Throughout this interchange the empathy the older Tevye feels for young Perchik is clear. Both men experience an increase in grace and dignity.
= render "page", page: page, title: "Cultivate Empathy", image: "CultivateEmpathy"
