- content_for :Dedicated do
  .epigraph
    .line We who answer this call
    .line dedicate ourselves to Life.
    .line.tab We join together
    .line.tab in a community of practice
    .line.tab to align our actions
    .line.tab with our highest aspirations.
  .commentary
    %p Many of life's choicest rewards come from being in relationship with others. Our most important relationships gain special potency when they are formed within the context of a larger shared purpose. Regular practice with a community of like-minded individuals keeps us rolling in our chosen direction even when we lack inspiration and are overwhelmed by the concerns of everyday life.

    %p We join together in community in order to bring out the best in ourselves and each other. We fan the flames of enthusiasm to nurture and encourage our beginner selves. We call for a deepening of wisdom to uncover and let shine the greatness in each of us. We direct the fire of passion down the line of practical inquiry that brings with it understanding and faculty. We cultivate habits that train us to instinctively react to even the most difficult situations with responses that align with our highest aspirations.

    %p Simply stated, Life is better when lived together.
= render "page", page: page, title: "Dedicated", image: "Dedicated"
