- content_for :EmbracePassion do
  .epigraph
    .line I pledge to stoke the fire in my belly,
    .line to compassionately care for my inner elephant ---
    .line to really be me, Happy in the Sun!
  .commentary
    %p The disparity between our goals and our actions leads us to be cruel to ourselves. We use words like disappointment, lazy, and selfish to try and whip ourselves into shape. The hurt and shame we inflict on ourselves fails to bring about the changes we desire. We turn to addictive vices to escape our self abuse. The cycle of disappointment, abuse, and escapism continues.

    %p Because we only have direct cognitive access to the rider, when we talk about our goals we give a one-sided account that only incorporates what our rider wants. The single most important thing our rider can do is to understand what motivates our elephant and connect these motivators to our goals. The &ldquo;fire in our belly&rdquo; so to speak, comes from stories and symbols that are experienced viscerally rather than cerebrally.

    %p The beautiful life we seek depends upon our rider becoming a clever servant rather than a cruel tyrant. Passion belongs to our elephant, it alone knows our unique &ldquo;happy in the sun!&rdquo;
= render "page", page: page, title: "Embrace Passion", image: "EmbracePassion"
