- content_for :EmpathyIsTranscendent do
  .epigraph
    .line Empathy is transcendent.
    .line Without Empathy,
    .line.tab Passion and Wisdom are evil.
  .commentary
    %p Empathy is the mechanism by which we understand and value others. Culture and society spring from Empathy (see Jonathan Haidt Righteous Mind Crossing the Rubric chapter). Without Empathy the deep understanding and trust so necessary for collective action cannot exist. It is Empathy that spurs us to value the needs of others and consider how our actions might impact them.

    %p It can be difficult to cultivate Empathy for strangers in other countries, for the entire body of all Life, and for future generations. As we make our daily choices, we consider the needs of these abstract entities only as much as we identify with them in our guts. And so we create religious images, metaphors, and rituals to give life to these abstract aspirations so that we can relate to them as immediately as we relate to a friend or family member.

    %p The ability to sometimes perceive ourselves not just as an ephemeral individual organism, but as the Body of all Life itself can add a great deal of power and purpose to our lives. This ability to identify with the larger whole is an essential characteristic of spiritual enlightenment. It offers freedom from reactive grasping and the option to proactively create our lives.
= render "page", page: page, title: "Empathy is Transcendent", image: "EmpathyIsTranscendent"
