- content_for :PassionDrives do
  .epigraph
    .line Passion drives us.
    .line Without Passion,
    .line.tab Empathy and Wisdom are impotent.
  .commentary

    %p The love for an endeavor is a greater gift than is natural aptitude for it. Natural aptitude alone will always be overtaken and surpassed by the ceaseless practice of those who love an activity. In the words of de Saint-Exupéry, &ldquo;if you would build a ship, don't tell people to gather wood and hammer nails, instead teach them to long for the endless wild sea.&rdquo;

    %p We are only powerful when we are fully, passionately alive. We only do great and beautiful things when we have enough gumption to get off the couch and take action. If we lack the will to act, our best and wisest intentions come to nothing.

    %p In an age of cars, machines, and computers it is tempting to adopt a metaphor of self that places our conscious mind in the role of operator and the rest of us as the machine that is being operated. This metaphor is grossly inaccurate and provides little insight about how to create what we seek to create in the world. Instead we adopt the model of our conscious mind as a rider on top of the elephant of our unconscious mind and body.

    %p Motivations strong enough to be labeled as passions come almost entirely from our elephants. We are attracted to some things and repelled from others not by clearly reasoned philosophical arguments, but by the powerful aesthetic reactions of our subconscious minds. The path to a thriving, flourishing life runs through our elephants. Their passion is our source of power!
= render "page", page: page, title: "Passion Drives Us", image: "PassionDrives"
