- content_for :PursueWisdom do
  .epigraph
    .line I pledge to seek truth by studying the world around me,
    .line to develop my character through regular practice,
    .line to cultivate sound instincts.
  .commentary
    %p The scientific method is currently our best mechanism to learn, codify, and share information about our world and universe. The scientific method is ideally suited for discovering and communicating truth about the objective physical realm as exemplified by the &ldquo;hard sciences&rdquo; like chemistry, geology, neuroscience and the like. With care we can also use the scientific method to distill and communicate truth within other realms of inquiry.

    %p Within the realm of mind we can use the systematic techniques of the scientific method to think about and communicate our results in mathematics, logic, philosophy and the &ldquo;soft sciences&rdquo; like psychology, sociology, and anthropology. Within the spiritual realm we can carefully evaluate forms of meditation and other religious practices to determine which most reliably and powerfully produce the fruits we are seeking.

    %p In a very real sense, we become what we practice. Let us adopt again for the moment the metaphor of our minds as a rider (our conscious mind) on an elephant (our unconscious mind and body). We can develop wisdom by training the rider/elephant combination to automatically react to situations in the ways we desire. Regular, effective practice changes our patterns of behavior and establishes better habits of thought and action. These habits of good character conserve our limited willpower by allowing us to automatically make choices in line with our values without having to puzzle out the situational ethics of every encounter.
= render "page", page: page, title: "Pursue Wisdom", image: "PursueWisdom"
