- content_for :SacredPractice do
  .epigraph
    .line Our sacred duty is to
    .line embrace Passion,
    .line cultivate Empathy, and
    .line pursue Wisdom,
    .line.tab So that our being honors Life
    .line.tab and our striving advances The Destiny.
  .commentary
    %p The pursuit of scientific truth is a central part of our religious practice. No logical proof or experiment can demonstrate that scientific truth is good. And yet, we devote ourselves to science as to a higher calling.

    %p Science is a uniquely human expression of the Arete of Life. Using science to understand and manipulate the world for the benefit of Life brings honor to the unbroken thread of ancestors who made our lives possible. We find tremendous significance in living up to our potential in all ways, both individual and collective.

    %p If our purpose is to fully express the Arete of Life, then our religion is the practice of whole heartedly pursuing this purpose. We strive to constantly strengthen and promote the values and goals underlying our religious movement ... not because our religion demands it of us, but because the values and purpose are the essential expression of our nature.

    %p The power of our religion comes not from unique access to &ldquo;True&rdquo; values and purposes, but from supporting us in living the values we have discovered in ourselves. Our sacred practice helps us fulfill our individual duty to flower in our communities and our species' duty to help Life take root and flower amongst the stars.
= render "page", page: page, title: "Sacred Practice", image: "SacredPractice"
