- content_for :TakeRootAndFlower do
  .epigraph
    .line The Destiny of SolSeed
    .line is to take root and flower amongst the stars ---
    .line.tab to give birth to a family of living worlds.
  .commentary

    %p The evolution of Life in our solar system is far from complete. Earth Life is now poised to burst off of our planet and take root amongst the other bodies of our Solar system. The adaptive radiation that follows will again be a period of tremendous innovation for Life. Life will begin to substantially affect the rest of the Solar system. The changes Life will make will create opportunities for even more Life.

    %p Mother Earth and Father Sun are ready to start a family. Instead of our solar system containing a single, lonely living world, there will be a family of hundreds, thousands, and eventually millions of living worlds. Life will have a tremendously enlarged playground over which to diversify.

    %p In the very far future, Solar Life will spread beyond this solar system to take root amongst the stars. As it does so, it may encounter Life from other sources with which to commune. Just think of the possibilities!
= render "page", page: page, title: "Life Expressed!", image: "TakeRootAndFlower"
