- content_for :UpwardSpiral do
  .epigraph
    .line Life exuberant
    .line bursting through boundaries
    .line to flower and spread
    .line.tab creates the conditions for more Life,
    .line.tab in an Upward Spiral of ever-growing possibilities.
  .commentary

    %p It is the nature of Life to flower and spread. During the Devonian 420 million years ago, Life burst out of the sea and took root on land. The adaptive radiation that followed drove an upward spiral of innovation, dramatically increasing the diversity of Life.

    %p Complex Life exists even though our universe is strongly biased toward decay and collapse. Scientists call the tendency for things to run down the &ldquo;second law of thermodynamics.&rdquo; Since the beginning of Life on our planet, effectively every organism has died and every species has gone extinct (&gt; 99.9%).

    %p Life is a process that sometimes creates an upward eddy in the downward current of destruction dictated by the second law. Life created the diversity we see today from countless individuals making countless contributions across countless generations.

    %p Arete is a Greek word that means living up to our potential and fulfilling our purpose. When we say &ldquo;the Arete of Life&rdquo; we mean the complex whole of Life, including the upward spiral of creation and the myriad deaths and extinctions that give rise to that spiral. We celebrate it all.

    %p Ants carrying, eagles soaring, people loving &hellip; none of these would exist without Life's erratic yet tenacious upward spiral of creation.
= render "page", page: page, title: "The Nature of Life", image: "UpwardSpiral"
