- content_for :VenerableLife do
  .epigraph
    .line Life is precious.
    .line.tab It has always been precious.
    .line.tab It will always be precious.
  .commentary

    %p Life puts atoms together in very interesting ways. One configuration of atoms gives us an ant carrying a leaf many times larger than itself. From another configuration we get an eagle slipping gracefully through the sky. Yet another configuration becomes a person who feels, thinks, and loves.

    %p Without Life, the energy from our sun simply bounces off the planet. Life literally collects the energy Sol sends to earth, and stores it up for future use. Plants take energy from Sol and convert it into denser, more storable forms. The sugars and fats that our bodies burn are little pools of energy that originally came from our sun.

    %p Ants carrying, eagles soaring, people loving &hellip; none of these would exist without Life's awesome capacity for organizing matter.

    %p Life is not perfect. This is obvious to anyone who has experienced cruelty or misfortune. And yet, Life is the only game in town. Without Life the Earth would be just another dead ball of rock.

    %p Nothing needs to change for Life to become &ldquo;worthy&rdquo;. It already is worthy. Even if we had more wars, more hunger, and more systemic injustice, Life would still be precious. Always and forever, Life is what it is &hellip; and it is worthy of veneration!

= render "page", page: page, title: "Venerable Life", image: "VenerableLife"
