- content_for :WeBringLife do
  .epigraph
    .line Through Passion, Empathy, and Wisdom,
    .line we have come to know that:
    .line.tab We are Solseed
    .line.tab children of the Earth and Sun
    .line.tab awakened by starlight
    .line.tab growing
    .line.tab nurturing
    .line.tab discovering
    .line.tab We Bring Life!
  .commentary
    %p Life is not a binary property where we are either alive or dead. Life is a continuous property such that an individual organism, a group of organisms, and indeed the body of all life can be more or less alive from moment to moment. We seek to bring more life to ourselves, our communities, our world, indeed even unto the galaxy! Our religion succeeds in direct relation to how effective it is in supporting us in bringing life at each of these scales of abstraction.
= render "page", page: page, title: "We Bring Life!", image: "WeBringLife"
