- content_for :WisdomIsEffective do
  .epigraph
    .line Wisdom is effective.
    .line Without Wisdom,
    .line.tab Passion and Empathy are feeble and capricious.
  .commentary

    %p Wisdom refers to the human ability to use knowledge and experience to develop common sense and insight. Wisdom also refers to the human ability to discern or judge what is true, right, or lasting.

    %p Memory is a primitive piece of Wisdom. Memory is required for us to accurately recognize and characterize a situation. Simulation is a more advanced piece of Wisdom. Simulation allows us to imagine how to create something in the future that is different than the current situation.

    %p If we do not understand a situation our actions will be ineffective even if we are passionately motivated to help others. Worse yet, our half-baked actions may create unexpected outcomes that cause the situation to deteriorate rather than to improve.

    %p Wisdom is knowing a good action to take in a given situation in order to bring about a good outcome. The more practiced we are in responding to a given situation with Wisdom, the more reflexive and instinctive a good response becomes. Practice turns received Wisdom into embodied Wisdom.

    %p When we are wise, we show good judgment even in difficult situations that most people find overwhelming. With sufficient practice, we can quickly determine what is truly important even amidst a cacophony of inputs.
= render "page", page: page, title: "Wisdom is Effective", image: "WisdomIsEffective"
