%h2
  Join our Community of Practice
= render 'form'
%p
  If you find yourself resonating with our vision, please join our
  newsletter list. In addition to our quarterly newsletter, we will send
  you a short series of emails that introduces us and provides an
  overview of the opportunities within our movement.

%p      
  We will never share your contact info with others, and there is a
  prominent unsubscribe link in every email we send.
  