%p
  %b Email:
  = @subscription.email

%p
  In addition to our quarterly newsletter, we will send you a short series of emails that introduces us and provides an overview of the opportunities within our movement.

%p
  We will never share your contact info with others, and there is a prominent unsubscribe link in every email we send.