main, a, h1, h2, h3, h4, h5, label {
  color: white;
  background: none;
}
body {
  line-height: 1;
  background: rgb(0,10,50);
  background-image:url('blue-abstract-background.jpg');
}
.top-bar {
  background: rgba(0,0,0,0.2);
  margin-top: 5px;
  height: 55px;
  line-height: 55px;
}
