main, a, h1, h2, h3, h4, h5, label {
  color: white;
  background: none;
}
body {
  line-height: 1;
  background: rgb(0,10,50);
  background-image:url('blue-abstract-background.jpg');
}
nav.tab-bar {
  background: rgba(0,0,0,0.5);
  section {
    margin-top: 0px;
  }
}
header {
  margin-top: 16px;
  margin-left: 16px;
  h1 {
    font-size: 16px;
  }
}
.epigraph {
  font-style: italic;
  line-height: 150%;
  margin: 0px 0px 16px 32px;
  .tab {
    margin-left: 32px;
  }
}
